.bookinfo{
    position: relative;
    border-bottom: 1px solid black;
    margin: 0 0 20px 0;
}

.book-cover{
    width: 130px;
    height: auto;
    margin: 0 0 20px 0;
}

.booktitle{
    padding: 0 0 0 0;
    font-weight: bold;
    margin: 0 0 10px 0;
}