.video-title{
    font-weight: bold;
    padding-top: 10px;
    display: block;
    width: 90%;
}

.videoWrapper {
    position: relative;
    height: 0;
  }

  .wide-screen {
    padding-bottom: 56.25%;
  }
  
  .standard {
    padding-bottom: 75%;
  }

.videoWrapper iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
    height: 85%;
   /* box-shadow: 2px 2px 12px black;*/
    float: left;
    border: 2px solid gray;
}

.videoWrapper img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
  height: 85%;
 /* box-shadow: 2px 2px 12px black;*/
  float: left;
  border: 2px solid gray;
}


.video-padding-margin{
    padding: 0px;
    margin-bottom: 15px;
}

.videoWrapper video{
    width: 85%;
    padding-top: 8%;
}
